In [1]:
import pandas as pd
import numpy as np

In [2]:
meusDados = np.matrix('1, 2, 3; 4, 5, 6; 7, 8, 9; 10, 11, 12')
meusDados

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

In [16]:
meuDf = pd.DataFrame(meusDados)
type(meuDf)

pandas.core.frame.DataFrame

In [7]:
indice = ['Linha ' + str(i) for i in range(4)]

In [8]:
coluna = ['Coluna '+ str(i) for i in range(3)]

In [9]:
indice = ['linha' + str(i) for i in range(4)]
indice

['linha0', 'linha1', 'linha2', 'linha3']

In [10]:
colunas = ['coluna' + str(i) for i in range(3)]
colunas

['coluna0', 'coluna1', 'coluna2']

In [11]:
df2 = pd.DataFrame(data = meusDados, index = indice, columns = colunas)
df2

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9
linha3       10       11       12

In [12]:
df2 = pd.DataFrame(meusDados, indice, colunas)
df2

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9
linha3       10       11       12

In [13]:
df3 = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
       'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
       'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}
    }
df3

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [14]:
df3 = pd.DataFrame(df3)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [17]:
df4 = pd.concat([meuDf, df2, df3])
df4

           0     1     2  coluna0  coluna1  coluna2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN      NaN      NaN      NaN
linha0   NaN   NaN   NaN      1.0      2.0      3.0      NaN      NaN      NaN
linha1   NaN   NaN   NaN      4.0      5.0      6.0      NaN      NaN      NaN
linha2   NaN   NaN   NaN      7.0      8.0      9.0      NaN      NaN      NaN
linha3   NaN   NaN   NaN     10.0     11.0     12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      NaN      NaN      NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      NaN      NaN      NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      NaN      NaN      NaN      7.0      8.0      9.0

In [18]:
df4.isnull()

,0,1,2,coluna0,coluna1,coluna2,Coluna0,Coluna1,Coluna2
0,False,False,False,True,True,True,True,True,True
1,False,False,False,True,True,True,True,True,True
2,False,False,False,True,True,True,True,True,True
3,False,False,False,True,True,True,True,True,True
linha0,True,True,True,False,False,False,True,True,True
linha1,True,True,True,False,False,False,True,True,True
linha2,True,True,True,False,False,False,True,True,True
linha3,True,True,True,False,False,False,True,True,True
Linha0,True,True,True,True,True,True,False,False,False
Linha1,True,True,True,True,True,True,False,False,False
Linha2,True,True,True,True,True,True,False,False,False

In [19]:
df4.isnull().sum()

0          7
1          7
2          7
coluna0    7
coluna1    7
coluna2    7
Coluna0    8
Coluna1    8
Coluna2    8
dtype: int64

In [20]:
df4.fillna

<bound method DataFrame.fillna of            0     1     2  coluna0  coluna1  coluna2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN      NaN      NaN      NaN
linha0   NaN   NaN   NaN      1.0      2.0      3.0      NaN      NaN      NaN
linha1   NaN   NaN   NaN      4.0      5.0      6.0      NaN      NaN      NaN
linha2   NaN   NaN   NaN      7.0      8.0      9.0      NaN      NaN      NaN
linha3   NaN   NaN   NaN     10.0     11.0     12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      NaN      NaN      NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      NaN      NaN      NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      NaN      NaN      NaN      7.0      8.0      9.0>

In [21]:
df5 = df4.fillna(df4.mean())
df5

           0     1     2  coluna0  coluna1  coluna2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      5.5      6.5      7.5      4.0      5.0      6.0
1        4.0   5.0   6.0      5.5      6.5      7.5      4.0      5.0      6.0
2        7.0   8.0   9.0      5.5      6.5      7.5      4.0      5.0      6.0
3       10.0  11.0  12.0      5.5      6.5      7.5      4.0      5.0      6.0
linha0   5.5   6.5   7.5      1.0      2.0      3.0      4.0      5.0      6.0
linha1   5.5   6.5   7.5      4.0      5.0      6.0      4.0      5.0      6.0
linha2   5.5   6.5   7.5      7.0      8.0      9.0      4.0      5.0      6.0
linha3   5.5   6.5   7.5     10.0     11.0     12.0      4.0      5.0      6.0
Linha0   5.5   6.5   7.5      5.5      6.5      7.5      1.0      2.0      3.0
Linha1   5.5   6.5   7.5      5.5      6.5      7.5      4.0      5.0      6.0
Linha2   5.5   6.5   7.5      5.5      6.5      7.5      7.0      8.0      9.0

In [22]:
df8 = df5.copy()

In [23]:
df4.dropna(inplace = True)
df4

Empty DataFrame
Columns: [0, 1, 2, coluna0, coluna1, coluna2, Coluna0, Coluna1, Coluna2]
Index: []

In [24]:
df5

           0     1     2  coluna0  coluna1  coluna2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      5.5      6.5      7.5      4.0      5.0      6.0
1        4.0   5.0   6.0      5.5      6.5      7.5      4.0      5.0      6.0
2        7.0   8.0   9.0      5.5      6.5      7.5      4.0      5.0      6.0
3       10.0  11.0  12.0      5.5      6.5      7.5      4.0      5.0      6.0
linha0   5.5   6.5   7.5      1.0      2.0      3.0      4.0      5.0      6.0
linha1   5.5   6.5   7.5      4.0      5.0      6.0      4.0      5.0      6.0
linha2   5.5   6.5   7.5      7.0      8.0      9.0      4.0      5.0      6.0
linha3   5.5   6.5   7.5     10.0     11.0     12.0      4.0      5.0      6.0
Linha0   5.5   6.5   7.5      5.5      6.5      7.5      1.0      2.0      3.0
Linha1   5.5   6.5   7.5      5.5      6.5      7.5      4.0      5.0      6.0
Linha2   5.5   6.5   7.5      5.5      6.5      7.5      7.0      8.0      9.0

In [25]:
df5.dropna(subset = [1], inplace = True)
df5

           0     1     2  coluna0  coluna1  coluna2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      5.5      6.5      7.5      4.0      5.0      6.0
1        4.0   5.0   6.0      5.5      6.5      7.5      4.0      5.0      6.0
2        7.0   8.0   9.0      5.5      6.5      7.5      4.0      5.0      6.0
3       10.0  11.0  12.0      5.5      6.5      7.5      4.0      5.0      6.0
linha0   5.5   6.5   7.5      1.0      2.0      3.0      4.0      5.0      6.0
linha1   5.5   6.5   7.5      4.0      5.0      6.0      4.0      5.0      6.0
linha2   5.5   6.5   7.5      7.0      8.0      9.0      4.0      5.0      6.0
linha3   5.5   6.5   7.5     10.0     11.0     12.0      4.0      5.0      6.0
Linha0   5.5   6.5   7.5      5.5      6.5      7.5      1.0      2.0      3.0
Linha1   5.5   6.5   7.5      5.5      6.5      7.5      4.0      5.0      6.0
Linha2   5.5   6.5   7.5      5.5      6.5      7.5      7.0      8.0      9.0

In [26]:
df6 = df5.drop(columns = ['Coluna0'])
df6

           0     1     2  coluna0  coluna1  coluna2  Coluna1  Coluna2
0        1.0   2.0   3.0      5.5      6.5      7.5      5.0      6.0
1        4.0   5.0   6.0      5.5      6.5      7.5      5.0      6.0
2        7.0   8.0   9.0      5.5      6.5      7.5      5.0      6.0
3       10.0  11.0  12.0      5.5      6.5      7.5      5.0      6.0
linha0   5.5   6.5   7.5      1.0      2.0      3.0      5.0      6.0
linha1   5.5   6.5   7.5      4.0      5.0      6.0      5.0      6.0
linha2   5.5   6.5   7.5      7.0      8.0      9.0      5.0      6.0
linha3   5.5   6.5   7.5     10.0     11.0     12.0      5.0      6.0
Linha0   5.5   6.5   7.5      5.5      6.5      7.5      2.0      3.0
Linha1   5.5   6.5   7.5      5.5      6.5      7.5      5.0      6.0
Linha2   5.5   6.5   7.5      5.5      6.5      7.5      8.0      9.0

In [27]:
df7 = df6.drop(index = [2])
df7

           0     1     2  coluna0  coluna1  coluna2  Coluna1  Coluna2
0        1.0   2.0   3.0      5.5      6.5      7.5      5.0      6.0
1        4.0   5.0   6.0      5.5      6.5      7.5      5.0      6.0
3       10.0  11.0  12.0      5.5      6.5      7.5      5.0      6.0
linha0   5.5   6.5   7.5      1.0      2.0      3.0      5.0      6.0
linha1   5.5   6.5   7.5      4.0      5.0      6.0      5.0      6.0
linha2   5.5   6.5   7.5      7.0      8.0      9.0      5.0      6.0
linha3   5.5   6.5   7.5     10.0     11.0     12.0      5.0      6.0
Linha0   5.5   6.5   7.5      5.5      6.5      7.5      2.0      3.0
Linha1   5.5   6.5   7.5      5.5      6.5      7.5      5.0      6.0
Linha2   5.5   6.5   7.5      5.5      6.5      7.5      8.0      9.0

In [28]:
df5.Coluna2.unique()

array([6., 3., 9.])

In [29]:
df5.columns.unique()

Index([0, 1, 2, 'coluna0', 'coluna1', 'coluna2', 'Coluna0', 'Coluna1',
       'Coluna2'],
      dtype='object')

In [30]:
df5.index.unique()

Index([       0,        1,        2,        3, 'linha0', 'linha1', 'linha2',
       'linha3', 'Linha0', 'Linha1', 'Linha2'],
      dtype='object')

In [31]:
print(df5.Coluna2.unique())

[6. 3. 9.]

In [32]:
print(df5.columns.unique())

Index([0, 1, 2, 'coluna0', 'coluna1', 'coluna2', 'Coluna0', 'Coluna1',
       'Coluna2'],
      dtype='object')

In [33]:
print(df5.index.unique())

Index([       0,        1,        2,        3, 'linha0', 'linha1', 'linha2',
       'linha3', 'Linha0', 'Linha1', 'Linha2'],
      dtype='object')

In [34]:
df8.sort_values(by = 'Coluna1')

           0     1     2  coluna0  coluna1  coluna2  Coluna0  Coluna1  Coluna2
Linha0   5.5   6.5   7.5      5.5      6.5      7.5      1.0      2.0      3.0
0        1.0   2.0   3.0      5.5      6.5      7.5      4.0      5.0      6.0
1        4.0   5.0   6.0      5.5      6.5      7.5      4.0      5.0      6.0
2        7.0   8.0   9.0      5.5      6.5      7.5      4.0      5.0      6.0
3       10.0  11.0  12.0      5.5      6.5      7.5      4.0      5.0      6.0
linha0   5.5   6.5   7.5      1.0      2.0      3.0      4.0      5.0      6.0
linha1   5.5   6.5   7.5      4.0      5.0      6.0      4.0      5.0      6.0
linha2   5.5   6.5   7.5      7.0      8.0      9.0      4.0      5.0      6.0
linha3   5.5   6.5   7.5     10.0     11.0     12.0      4.0      5.0      6.0
Linha1   5.5   6.5   7.5      5.5      6.5      7.5      4.0      5.0      6.0
Linha2   5.5   6.5   7.5      5.5      6.5      7.5      7.0      8.0      9.0

In [35]:
df8.rename(columns = {'Coluna1':'COLUNA 1'}, inplace = True)
df8

,0,1,2,coluna0,coluna1,coluna2,Coluna0,COLUNA 1,Coluna2
0,1.0,2.0,3.0,5.5,6.5,7.5,4.0,5.0,6.0
1,4.0,5.0,6.0,5.5,6.5,7.5,4.0,5.0,6.0
2,7.0,8.0,9.0,5.5,6.5,7.5,4.0,5.0,6.0
3,10.0,11.0,12.0,5.5,6.5,7.5,4.0,5.0,6.0
linha0,5.5,6.5,7.5,1.0,2.0,3.0,4.0,5.0,6.0
linha1,5.5,6.5,7.5,4.0,5.0,6.0,4.0,5.0,6.0
linha2,5.5,6.5,7.5,7.0,8.0,9.0,4.0,5.0,6.0
linha3,5.5,6.5,7.5,10.0,11.0,12.0,4.0,5.0,6.0
Linha0,5.5,6.5,7.5,5.5,6.5,7.5,1.0,2.0,3.0
Linha1,5.5,6.5,7.5,5.5,6.5,7.5,4.0,5.0,6.0
Linha2,5.5,6.5,7.5,5.5,6.5,7.5,7.0,8.0,9.0

In [43]:
df8.rename(columns = {0:'janeiro', 1:'fevereiro', 2:'março', 'Coluna 0':'abril',
                        'Coluna 1':'maio', 'Coluna 2':'junho', 'Coluna0':'julho',
                        'COLUNA 1':'agosto', 'Coluna2':'setembro'}, inplace = True)
df8

,janeiro,fevreiro,março,coluna0,coluna1,coluna2,julho,agosto,setembro
0,1.0,2.0,3.0,5.5,6.5,7.5,4.0,5.0,6.0
1,4.0,5.0,6.0,5.5,6.5,7.5,4.0,5.0,6.0
2,7.0,8.0,9.0,5.5,6.5,7.5,4.0,5.0,6.0
3,10.0,11.0,12.0,5.5,6.5,7.5,4.0,5.0,6.0
linha0,5.5,6.5,7.5,1.0,2.0,3.0,4.0,5.0,6.0
linha1,5.5,6.5,7.5,4.0,5.0,6.0,4.0,5.0,6.0
linha2,5.5,6.5,7.5,7.0,8.0,9.0,4.0,5.0,6.0
linha3,5.5,6.5,7.5,10.0,11.0,12.0,4.0,5.0,6.0
Linha0,5.5,6.5,7.5,5.5,6.5,7.5,1.0,2.0,3.0
Linha1,5.5,6.5,7.5,5.5,6.5,7.5,4.0,5.0,6.0
Linha2,5.5,6.5,7.5,5.5,6.5,7.5,7.0,8.0,9.0

In [45]:
df8.dropna(subset = ['fevereiro'], inplace = True)
df8

KeyError: ['fevereiro']

In [46]:
df9 = df8.rename(index = {0:'Elon Musk', 1:'Bill Gates', 
                          2:'Bernard Arnault', 3:'Mark Zuckeberg'})
df9

,janeiro,fevreiro,março,coluna0,coluna1,coluna2,julho,agosto,setembro
Elon Musk,1.0,2.0,3.0,5.5,6.5,7.5,4.0,5.0,6.0
Bill Gates,4.0,5.0,6.0,5.5,6.5,7.5,4.0,5.0,6.0
Bernard Arnault,7.0,8.0,9.0,5.5,6.5,7.5,4.0,5.0,6.0
Mark Zuckeberg,10.0,11.0,12.0,5.5,6.5,7.5,4.0,5.0,6.0
linha0,5.5,6.5,7.5,1.0,2.0,3.0,4.0,5.0,6.0
linha1,5.5,6.5,7.5,4.0,5.0,6.0,4.0,5.0,6.0
linha2,5.5,6.5,7.5,7.0,8.0,9.0,4.0,5.0,6.0
linha3,5.5,6.5,7.5,10.0,11.0,12.0,4.0,5.0,6.0
Linha0,5.5,6.5,7.5,5.5,6.5,7.5,1.0,2.0,3.0
Linha1,5.5,6.5,7.5,5.5,6.5,7.5,4.0,5.0,6.0
Linha2,5.5,6.5,7.5,5.5,6.5,7.5,7.0,8.0,9.0

In [47]:
df8.reset_index()

,index,janeiro,fevreiro,março,coluna0,coluna1,coluna2,julho,agosto,setembro
0,0,1.0,2.0,3.0,5.5,6.5,7.5,4.0,5.0,6.0
1,1,4.0,5.0,6.0,5.5,6.5,7.5,4.0,5.0,6.0
2,2,7.0,8.0,9.0,5.5,6.5,7.5,4.0,5.0,6.0
3,3,10.0,11.0,12.0,5.5,6.5,7.5,4.0,5.0,6.0
4,linha0,5.5,6.5,7.5,1.0,2.0,3.0,4.0,5.0,6.0
5,linha1,5.5,6.5,7.5,4.0,5.0,6.0,4.0,5.0,6.0
6,linha2,5.5,6.5,7.5,7.0,8.0,9.0,4.0,5.0,6.0
7,linha3,5.5,6.5,7.5,10.0,11.0,12.0,4.0,5.0,6.0
8,Linha0,5.5,6.5,7.5,5.5,6.5,7.5,1.0,2.0,3.0
9,Linha1,5.5,6.5,7.5,5.5,6.5,7.5,4.0,5.0,6.0
10,Linha2,5.5,6.5,7.5,5.5,6.5,7.5,7.0,8.0,9.0

In [48]:
df8.value_counts('março')

março
7.5     7
3.0     1
6.0     1
9.0     1
12.0    1
Name: count, dtype: int64

In [49]:
df8.columns.value_counts().sum()

9

In [50]:
df8.index.value_counts().sum()

11