In [1]:
import pandas as pd
import numpy as np

In [16]:
meusDados = np.matrix('1, 2, 3; 4, 5, 6; 7, 8, 9; 10, 11, 12')
meusDados

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

In [17]:
meuDF = pd.DataFrame(meusDados)
type(meuDF)

pandas.core.frame.DataFrame

In [6]:
pandas.core.frame.DataFrame

NameError: name 'pandas' is not defined

In [18]:
indice = ['linha' + str(i) for i in range(4)]
indice

['linha0', 'linha1', 'linha2', 'linha3']

In [19]:
colunas = ['coluna' + str(i) for i in range(3)]
colunas

['coluna0', 'coluna1', 'coluna2']

In [20]:
df2 = pd.DataFrame(data = meusDados, index = indice, columns = colunas)
df2

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9
linha3       10       11       12

In [22]:
df2 = pd.DataFrame(meusDados, indice, colunas)
df2

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9
linha3       10       11       12

In [28]:
df3 = pd.DataFrame(df3)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        7        8        9

In [29]:
df3 = {
  'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha1': 7},
  'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha1': 8},
  'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha1': 9}
}
df3

{'Coluna0': {'Linha0': 1, 'Linha1': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 9}}

In [30]:
df4 = pd.concat([meuDF, df2, df3])
df4

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid

In [31]:
df4.isnull().sum

NameError: name 'df4' is not defined

In [32]:
df5 = df4.fillna(df4.mean())
df5

NameError: name 'df4' is not defined

In [33]:
df8 = df5.copy()

NameError: name 'df5' is not defined

In [34]:
df4.dropna(inplace = True)
df4

NameError: name 'df4' is not defined

In [35]:
df6 = df5.drop(columns = ['Coluna0'])
df6

NameError: name 'df5' is not defined

In [ ]:
df7 = df6.drop(index = [2])
df7

In [ ]:
df5.Coluna2.unique()

In [ ]:
df5.columns.unique()

In [ ]:
df5.index.unique()